@import '../../../styles/main.scss';

.container {
  background-color: $gable-green;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $foam;
  font-size: $subtitle;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.titleGreen {
  color: $spring-green;
}

.text {
  color: $foam;
  font-size: $small;
  margin-bottom: 30px;
  width: 80%;
}

@media all and (min-width: 467px) {
  .title {
    font-size: $title-web;
    width: 90%;
  }
  
  .text {
    font-size: $big;
    margin-bottom: 60px;
    width: 64%;
  }
}
