@import '../../../../../styles/main.scss';

.containerCard {
  border: 5px;
  height: 90vh;
  width: 450px;
  margin: 24px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: $copy-color;
}

@media all and (max-width: 760px) {
.containerCard {
  height: 80vh;
  justify-content: center;
  width: 70%;
}
}
