@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap');

$copy-color: #909090;
$hr-color: #EFEFEF;
$text-button-color: #FFFFFF;
$color-title:#808080ef;
$border-target: #80808017;
$color-text-end:#505767;
$color-white: #ffffffd7;
$color-blue: #7688F6;
$black-color: #505767;
// NEW COLORS PRE ENTREVISTA
$athens-gray: #E6E8EC;
$blue-diane: #234454;
$blue-diane-transparent: #23445454;
$electric-violet: #AB3DFD;
$electric-violet-dark: #9C19FF;
$foam: #F1FBFE;
$gable-green: #14262F;
$jade: #00BF4D;
$spring-green: #01FF67;
// FONTS
$title-web: 60px;
$title: 40px;
$subtitle: 36px;
$x-big: 28px;
$big: 20px;
$medium: 18px;
$small: 16px;

body {
  background-color: $gable-green;
  margin: 0;
  padding: 0 2%;
  font-family: 'Spartan', sans-serif;
}
